# Database connection URL for integration tests
# This file is used by direnv to automatically set environment variables
# when entering the streamwerk-sql directory
#
# To use:
# 1. Install direnv: https://direnv.net/
# 2. Run: direnv allow
#
# Start the test database first:
# cd docker && docker-compose up -d

export DATABASE_URL="postgres://streamwerk:streamwerk@localhost/streamwerk_test"
